@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0%;
  margin: 0%;
}
.banner {
  max-width: 100%;
  height: 554px;
  background-image: url("../assets/Hero-bg.png");
  margin-bottom: 40px;
}
.banner-content {
  max-width: 848px;
  height: 400px;
  margin: 0px auto;
  text-align: center;
}
.banner-content img {
  width: 160px;
}
.banner-content h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 38px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}
.banner-content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 10px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  margin: 10px 40px 40px 40px;
}
.banner-content button {
  width: 240px;
  height: 45px;
  border-radius: 8px;
  color: white;
  background: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

/* web-developmemt start */
.web-developmemt {
  max-width: 900px;
  height: 1150px;
  margin: 0 auto;
  background-color: rgba(20, 29, 50, 0.02);
  padding-top: 20px;
  border-radius: 6px;
}
.web-developmemt-container {
  margin: 10%;
  max-width: 780px;
  height: 1000px;
}

.web-developmemt-title {
  text-align: center;
  margin-bottom: 40px;
}
.web-developmemt-title h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 37px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.web-developmemt-title p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin: 20px 20px 20px 20px;
}
.developer-section1 {
  margin: 10px 20px 10px 20px;
  display: flex;
  /* justify-content: space-between; */
  gap: 60px;
}
.developer-details h2 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin: 10px 20px 10px 0px;
}
.developer-details p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 10px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin: 10px 20px 30px 0px;
}
.developer-details button {
  width: 151px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
}
.developer-img img {
  width: 190px;
  height: 190px;
  margin-top: 30px;
}
/* developer-section2 start */

.developer-section2 {
  display: flex;
  margin-left: 37px;
}
.developer-details {
  margin: 50px 90px 50px 40px;
}
/* developer-section2 end */

/* inspiration start */
.inspiration {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}
.inspiration h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin: 20px;
}
.inspiration p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 12px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin: 20px 80px 60px 80px;
}
.yourtube-emb {
  border: 1px solid rgb(207, 205, 205);
  padding: 20px;
  border-radius: 6px;
}
/* inspiration end */
/* current-target start */
.current-target {
  max-width: 900px;
  margin: 0px auto;
  text-align: center;
  margin-top: 80px;
}
.current-target h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 25px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;
}
.current-target p{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 300;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin: 20px 70px 30px 70px;

}
.skillset-card{
  margin: 20px;
  display: flex;
  gap: 10px;
  text-align: left;
}
.skillset1{
  background-color: rgb(252, 227, 231);
  width: 33%;
  height: 300px;
  border-radius: 6px;
}
.skillset2{
  background-color: rgb(199, 217, 226);
  width: 33%;
  height: 300px;
  border-radius: 6px;
}
.skillset3{
  background-color: rgb(252, 247, 219);
  width: 33%;
  height: 300px;
  border-radius: 6px;
}
/* .skillset1 img{
  text-align: start;
}
.skillset1 h1{
  text-align: start;
} */
.skillset-container{
 display: flex;
 flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 20px 30px 10px 30px;

}
.skillset-container h1{
  margin-top: 15px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.skillset-container h6{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 300;
line-height: 12px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;

}
.skillset-container a{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 13px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
margin-top: 20px;
}
/* current-target end */
/* support part starts */
.support{
  max-width: 900px;
  height: 300px;
  margin: 0px auto;
  text-align: center;
  margin-top: 80px;
  background-image: url('../assets/handshake.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 100px;
}
.support h1{
  color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
padding-top: 115px;
margin-bottom: 10px;
}
.support p{
  color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 11px;
font-weight: 200;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 30px;
margin-left: 50px;
margin-right: 50px;

}
.support-input{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.support-input input{
  width: 248px;
height: 27px;
color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 200;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
border-radius: 6px;
}
.support-input button{
  width: 100px;
height: 30px;
border-radius: 6px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;}

/* support part ends */
/* footer starts */
footer{
  display: flex;
  justify-content: space-around;
  background-color: rgba(13, 19, 33, 0.03);
  margin-top: 20px;padding: 20px;
}
footer h2{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0%;
  text-align: center;
}
/* footer ends */